PORT=3001
NODE_ENV=development
MONGO_URI=mongodb://mongo:27017/unicore_users
JWT_SECRET=unicore_jwt_super_secret_key_2024
JWT_REFRESH_SECRET=unicore_refresh_super_secret_key_2024
JWT_EXPIRES_IN=1d
LOG_LEVEL=info
